<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Monday, November 5, 2018 at 11:22:57 AM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2018-11-05T19:22:57Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/verdugo comp - touchstone climbing series 2018 1.2 trail mix.mov</string>
			</array>
			<key>sourceFP</key>
			<string>UTMJFUp5SNKG0bJNxPd3xw - 2018-11-05 19:21:09 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday, November 5, 2018 at 1:01:07 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2018-11-05T21:01:07Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/verdugo comp - touchstone climbing series 2018 1.3 trail mix film grade.mov</string>
			</array>
			<key>sourceFP</key>
			<string>UTMJFUp5SNKG0bJNxPd3xw - 2018-11-05 20:58:32 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday, November 5, 2018 at 1:06:52 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2018-11-05T21:06:52Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/verdugo comp - touchstone climbing series 2018 1.3 trail mix film grade.mov</string>
			</array>
			<key>sourceFP</key>
			<string>UTMJFUp5SNKG0bJNxPd3xw - 2018-11-05 21:04:40 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday, November 6, 2018 at 1:37:02 PM Pacific Standard Time</string>
			<key>fullDate</key>
			<date>2018-11-06T21:37:02Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/verdugo comp - touchstone climbing series 2018 1.4 trail mix NO film grade.mov</string>
			</array>
			<key>sourceFP</key>
			<string>UTMJFUp5SNKG0bJNxPd3xw - 2018-11-06 21:34:57 +0000</string>
		</dict>
	</array>
</dict>
</plist>
